.about-us {
  background-color: #fcfaef;

  &__player {
    background-image: url('../images/player.png');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__timeless {
    @include page-grid;

    padding-block: 48px;

    @include on-tablet {
      padding-block: 120px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &__description {
    padding: 0;
    margin: 0;
    font-weight: $section-text-font-weight;
    font-size: $section-text-font-size;
    letter-spacing: $section-text-letter-spacing;
  }
}
