.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__button-wrapper {
    @include page-grid;
  }

  &__button {
    @include button-style;

    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
