.header {
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: $main-bold-font-weight;
    font-size: $header-title-font-size;
    line-height: $header-title-line-height;
    color: $header-title-text-color;

    @include on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
