.menu{
  box-sizing: border-box;
  height: 100vh;
  background-color: $menu-background-color;
  font-weight: $main-bold-font-weight;
  overflow: auto; /* to scroll the menu if needed */

  &__top{
    margin-bottom: 32px;
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    background-color: #F9F9F9;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__nav{
    margin-bottom: 48px;
  }

  &__list{
    font-size: $menu-list-font-size;
    line-height: $menu-list-line-height;
  }

  &__phone-number{
    display: block;
    margin-bottom: 16px;
    color: inherit;
    text-decoration: none;
    font-size: $menu-contacts-font-size;
    letter-spacing: $menu-contacts-letter-spacing;
  }

  &__call-to-order{
    display: block;
    width: fit-content;  //Щоб підлаштувати ширину під вміст
    padding-bottom: 3px;
    border-bottom: 1px solid $main-text-color;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    font-size: $menu-contacts-font-size;
    letter-spacing: $menu-contacts-letter-spacing;
  }
}



// .menu {
//   overflow: auto; /* to scroll the menu if needed */
// }
// .menu__top {
//   position: sticky; /* to keep cross always visible */
//   top: 0;
//   z-index: 1;
//   background-color: #e5e5e5;
// }
