.product {
  &__photo {
    width: 100%;

    @include hover(transform, scale(1.05));
  }

  &__name {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: $main-bold-font-weight;
    font-size: $section-name-font-size;
  }

  &__description {
    margin: 0;
    font-weight: $section-text-font-weight;
    font-size: $section-text-font-size;
    letter-spacing: $section-text-letter-spacing;
  }

  &__price {
    margin: 12px 0 0;
    font-weight: $main-bold-font-weight;
    font-size: $section-text-font-size;

    @include on-tablet {
      margin-top: 34px;
    }

    @include on-desktop {
      margin-top: 12px;
    }
  }
}
