.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-weight: $main-bold-font-weight;
  font-size: $section-title-font-size;
  line-height: $section-title-line-height;
  text-align: left;

  @include onTablet {
    margin-bottom: 56px;
    font-size: 40px;
    line-height: 40px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 48px;
  }

  &--section-three{
    margin-bottom: 24px;

    @include onTablet {
      margin: 0;
    }
  }
}
