// for mixins
$tablet-min-width: 576px;
$desktop-min-width: 1024px;

// for page and main
$page-font-family: Manrope, sans-serif;
$main-text-color: #1B2129;
$main-bold-font-weight: 700;
$main-regular-font-weight: 400;
$main-line-height: 140%;

// for header
$header-title-text-color: #FFF;
$header-title-font-size: 36px;
$header-title-line-height: 100%;

// for menu
$menu-background-color: #F9F9F9;
$menu-list-font-size: 22px;
$menu-list-line-height: 22px;

$menu-contacts-font-size: 16px;
$menu-contacts-letter-spacing: 2px;

// for section
$section-title-font-size: 32px;
$section-title-line-height: 32px;

$section-name-font-size: 18px;

$section-text-font-weight: 400;
$section-text-font-size: 16px;  // and price
$section-text-letter-spacing: 0.15px;

// for categories
$category-title-font-size: 18px;

// for contacts / form
// items
$form-font-size: 14px;
$form-letter-spacing: 0.15px;
$form-text-color: #7E7E83;
$form-background-color: #F9F9F9;
// items placeholder
$form-placeholder-text-color: #7E7E83;

// button
$form-button-font-size: 16px;
$form-button-line-height: 27px;
$form-button-text-color: #FFF;
$form-button-background-color: #F98921;

// for hover
$form-hover-border: 1px solid #DBDBDB;
$form-hover-text-color: #1B2129;
$form-hover-button-background-color: #1B2129;

// for focus
$form-focus-border-color: #F98921;
